.reviewCorousel {
   .swiper-container {
      z-index: 4;
      padding-bottom: 280px;
      padding-top: 50px;

      @media screen and (max-width:1370px) {
         padding-bottom: 480px;
      }

      @media screen and (max-width:780px) {
         padding-bottom: 200px;
      }
   }

   .swiper-button-prev {
      right: 13px;
      left: auto;
      top: 71%;
      color: rgba(255, 255, 255, 0.1);

      @media screen and (max-width:780px) {
         display: none;

      }

   }

   .swiper-button-next {
      right: 13px;
      top: 20%;
      color: rgba(255, 255, 255, 0.1);

      @media screen and (max-width:780px) {
         display: none;

      }
   }


   .swiper-pagination-fraction,
   .swiper-pagination-custom,
   .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: 10px;
      right: 19px;
      display: flex;
      flex-direction: column;
      top: 37%;
      left: 98%;

      @media screen and (max-width:780px) {
         display: none;

      }
   }

   .swiper-pagination-bullet {
      // margin: 0 4px;
      margin-bottom: 10px;
   }

   .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0;

      margin-bottom: 28px;
   }

   .swiper-pagination-bullet-active {
      background-color: #fff;
   }
}