.allModels {
   // min-height: 100vh;

   padding-bottom: 20px;

   background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);


}

.container {
   max-width: 1660px;

   padding: 0 15px 0 96px;

   margin: 0 auto;



}

.wrap {
   display: grid;
   grid-template-columns: repeat(5, auto);
   grid-auto-flow: row;
   row-gap: 30px;
   column-gap: 30px;

   justify-content: center;

   @media screen and (max-width:1740px) {
      grid-template-columns: repeat(4, auto);

      justify-content: center;
   }

   @media screen and (max-width:1420px) {
      grid-template-columns: repeat(3, auto);

      justify-content: center;
   }

   @media screen and (max-width:1080px) {
      grid-template-columns: repeat(2, auto);

      justify-content: center;
   }

   @media screen and (max-width:740px) {
      grid-template-columns: repeat(1, auto);

      justify-content: center;
   }

}

// .mainWrap {
//    margin-top: 25%;

//    display: flex;
//    justify-content: space-between;
//    position: relative;
//    z-index: 2;
// }