@mixin textEdit ($fontFamily, $fontWeight, $fontSize, $lineHeight: 1.2) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}


@mixin flexEdit ($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;


}