$whiteColor:rgba(255, 255, 255, 1);
$bg1Color:linear-gradient(112.21deg, rgba(31, 31, 31, 0.91) 2.72%, rgba(18, 18, 18, 0.91) 101.59%);

$blackColor:#000;

$linkColor:rgba(255, 255, 255, 0.4);


$borderColor:#292929;