.burgerBlock {
   background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);

   width: 81px;
   height: 100vh;
   padding: 42px 0 54px;

   margin-right: 5rem;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;

   border-right: 2px solid white;
}

.burgerButton {
   width: 43px;
   height: 30px;



   &:hover {
      opacity: 0.7;
   }

   &:active {
      background: grey;
   }
}

.burgerImg {
   width: 100%;
   height: auto;
}

.arrowBlock {
   display: flex;
   flex-direction: column-reverse;
   // transform: rotate(-90deg);
   align-items: center;

   & img {
      margin-top: 3.75rem;
   }
}

.link {
   transform: rotate(-90deg);

   width: 9.06rem;

   margin-bottom: 1rem;
}

.arrowBlock {
   img {
      height: 3.09rem;
      width: 1.4rem;
   }
}